<div class="widget-resources widget">
	<a href="https://github.com/area63aa/confidental-material"><h4 class="widget-resources widget__title">{{ T "resources_title" }}</h4></a>
	<div class="widget-resources widget__item">
		<b>24-Hour Help: </b><span class="content"><a href="tel:{{ .Site.Params.phone | default "1-800-662-4357" }}">{{ .Site.Params.phone | default "1-800-662-4357" }}</a></span>
	</div>
	{{- if .Site.Params.widgets.resources }}{{ range .Site.Params.widgets.resources }}
	<div class="widget-resources__item widget__item">
		<a class="widget-social__link widget__link btn" style="display: inline;" title="{{ .title }}" rel="noopener noreferrer" href="{{ .url }}">
			{{- if .icon }}
				{{ partial .icon (dict "class" "widget-resources__link-icon") }}
			{{- end }}
			<span>{{ .title }}</span>
		</a>
	</div>{{ end }}{{ end }}
</div>
